2_detect_result.jpg filter=lfs diff=lfs merge=lfs -text
gradio_cached_examples filter=lfs diff=lfs merge=lfs -text
runs filter=lfs diff=lfs merge=lfs -text
yolov10n.pt filter=lfs diff=lfs merge=lfs -text
训练2.zip filter=lfs diff=lfs merge=lfs -text
1_detect_result.jpg filter=lfs diff=lfs merge=lfs -text
datasets filter=lfs diff=lfs merge=lfs -text
pyproject.toml filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
1-20-38-_jpg.rf.ca81303cc5fb608134e51b14c378d6bf_detect_result.jpg filter=lfs diff=lfs merge=lfs -text
detect_tools.py filter=lfs diff=lfs merge=lfs -text
docker filter=lfs diff=lfs merge=lfs -text
论文-基于机器视觉的FDM3D打印缺陷识别分析.pdf filter=lfs diff=lfs merge=lfs -text
0d318d626b9dded4a5e6b988a75655396aa22010_cropped_cropped_jpg.rf.fa0487e62f30b255c91cb9471188b893_detect_result.jpg filter=lfs diff=lfs merge=lfs -text
CITATION.cff filter=lfs diff=lfs merge=lfs -text
Font filter=lfs diff=lfs merge=lfs -text
UIProgram filter=lfs diff=lfs merge=lfs -text
train.py filter=lfs diff=lfs merge=lfs -text
yolov10s.pt filter=lfs diff=lfs merge=lfs -text
训练结果 filter=lfs diff=lfs merge=lfs -text
logs filter=lfs diff=lfs merge=lfs -text
main.py filter=lfs diff=lfs merge=lfs -text
mkdocs.yml filter=lfs diff=lfs merge=lfs -text
ultralytics filter=lfs diff=lfs merge=lfs -text
Config.py filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
figures filter=lfs diff=lfs merge=lfs -text
yolov10b.pt filter=lfs diff=lfs merge=lfs -text
yolov10l.pt filter=lfs diff=lfs merge=lfs -text
图 filter=lfs diff=lfs merge=lfs -text
OIP-C_detect_result.jpg filter=lfs diff=lfs merge=lfs -text
app.py filter=lfs diff=lfs merge=lfs -text
installPackages.py filter=lfs diff=lfs merge=lfs -text
数据图片（ppp filter=lfs diff=lfs merge=lfs -text
examples filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
yolov10m.pt filter=lfs diff=lfs merge=lfs -text
yolov8n.pt filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
